#body {
    height: 100vh;
}

.temperature {
    font-size: 4rem;
    text-align: center;
}

#weather-img {
    width: 65px;
}

.temperatures {
    padding: 0 5px;
}

p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(61, 61, 61);
}