#body {
    height: 100vh;
    background-image: url('backdrop.png');
}

#card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 830px;
    margin: 0 10px;
    background-color: #fff;
}

#logo-image {
    width: 30%;
}

#text-input {
    letter-spacing: 1.5px;
}

#button-container {
    text-align: right;
}

@media (max-width: 840px) {
    #card {
        width: 100%;
    }
}